<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/main.css}" rel="stylesheet" />

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Review Categories</title>

</head>

<body>
<h1>Review Categories</h1>

<h2 th:each="category:${categories}"><a th:href="@{'/categories/'+ ${category.categoryType}}"
                                        th:text="${category.categoryType}"></a>
</h2>

</body>

</html>
