<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/main.css}" rel="stylesheet" />

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">

    <title>Single Category</title>
</head>

<body>
<header class="header">
    <h1 class="header__title">You have chosen this category:</h1>
    <h2 th:text="${category.categoryType}"></h2>
</header>
<section class="review-list">
    <h2 class="review-list__heading">Here is a list of our reviews:</h2>
    <nav class="review-list-nav">
        <ul class="review-list-links">
            <li class="review-list-links__book" th:each="review:${category.reviews}">
                <a class="review-list-links__link" th:href="@{'/reviews/'+ ${review.id}}"
                   th:text="${review.title}">Hive Mind, Holy Shroud</a>
            </li>

        </ul>
    </nav>
    <a class="nav__home" href="/categories">back to all categories</a>
</section>
</body>

</html>