<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Reviews</title>
</head>

<body>
<h1>These are all our reviews</h1>

<h2 th:each="review:${reviews}"><a th:href="@{'/reviews/'+ ${review.title}}"
                                   th:text="${review.title}"></a>
</h2>

</body>

</html>