@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

ul {
    list-style: none;
}

.review-list {
    padding-left: 10px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}